[submodule "plugged/vim"]
	path = plugged/vim
	url = https://github.com/dracula/vim
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "plugged/vim-hexokinase"]
	path = plugged/vim-hexokinase
	url = https://github.com/RRethy/vim-hexokinase
[submodule "plugged/vimtex"]
	path = plugged/vimtex
	url = https://github.com/lervag/vimtex
